@import "~bulma/bulma";
@import "variables.scss";
@import "welcome.scss";
@import "projects.scss";

.title {
  font-weight: normal;
  font-size: 2.5rem;
}

html > body.projects {
  background-color: $blue-300;
}

html, body {
  height: 100%;
}

.navbar-burger {
  color: $white;

  &:hover {
    color: $white;
  }
}