.navbar.white {
  background-color: transparent;

  .buttons .button:not(.is-fullwidth):hover {
    background: white;
  }
}

.navbar-menu.is-active {
  background-color: $orange;
}

.box {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.1);
}

.button {
  color: $black;
  font-weight: bolder;
  padding: 1em;

  &:hover {
    box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.5);
  }

  &:active {
    margin-bottom: -2px;
  }
}

.button.is-primary {
  background-color: $light-blue;
  color: $white;
  border-radius: 0.6rem;
  border: 1px solid #418EF2;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
  font-size: 14px;

  &:hover {
    background-color: $blue;
  }

  &:active {
    background-color: $blue;
    margin-top: 2px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5); 
  }
}

.button.is-secondary {
  background-color: $light-gray;
  color: $black;
  &:hover {
    background-color: $gray;
  }
}

.button.is-small {
  padding: 0.5em;
  font-size: 0.5rem;
}

.button.is-inline {
  margin-top: 2px;
}

.box {
  padding: 0;

  .title {
    font-size: 1.5rem;
    margin: 0;
    border-bottom: 1px solid $gray;
  }

  .expandable {
    cursor: pointer;
    border-bottom: 1px solid $gray;
    .expander-btn {
      pointer-events: none;
    }
    &:hover {
      background: $blue-100;
    }
  }

  .subtitle {
    font-size: 1rem;
  }

  .terminal {
    background: $black;
    color: $white;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    border: 4px solid $green;
    &:hover {
      background: $dark-black;
    }
  }
}

.notification pre {
  background: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}