html, body, button, input, select, textarea {
  font-family: 'Muli', BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #fff;
  color: #333;
}

.call-to-action {
  margin-top: 4rem;
}

.call-to-action .button.action {
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: $blue;

  padding-bottom: calc(0.5em - 1px);
  padding-left: 2em;
  padding-right: 2em;
  padding-top: calc(0.5em - 1px);

  box-shadow: $action-box-shadow;


  &.is-primary {
    background: $red;
    color: $white;
    font-size: 1rem;
    border-radius: 4px;
  }
}

.buttons .button.action:not(:last-child):not(.is-fullwidth) {
  margin-right: 2rem;
}

.hero .tablet {
  background: url("../images/tablet.svg") no-repeat top left;
  display: block;
  width: 480px;
  height: 560px;
  position: absolute;
  top: 240px;
  right: 0;
}

.hero {
  .title, .subtitle {
    margin-bottom: 3rem;
  }

  .title, .subtitle {
    color: white;
  }
}

.hero.is-swishy {
  background: #000;
  background: url("../images/swishy.svg") no-repeat top left;
  background-size: cover;
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

.hero.is-rainbows {
  background: #000;
  background: url("../images/rainbows.svg") no-repeat 0 -1px;
  background-size: cover;
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

.hero .arrow {
  background: url("../images/arrow.svg") no-repeat bottom center;
  display: block;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 200;

}

.hero.is-butter {
  background: #000;
  background: url("../images/header.svg") no-repeat -1px 1px;
  background-size: cover;

  .hero-body {
    padding: 14rem 1.5rem;

    @include for-size(phone-only) {
      padding: 10rem 1.5rem;
      padding-top: 10rem;
      padding-top: 3rem;
    }
  }
}
.terminal {
  width: 100%;
  height: 206px;
  margin-top: -106px;
  z-index: 2;
  position: relative;
  &.terminal-init {
    background: url("../images/terminal1.svg") no-repeat top center;
    background-size: contain;
    background-color: transparent;
  }

  &.terminal-push {
    background: url("../images/terminal2.svg") no-repeat top center;
    background-size: contain;
    background-color: transparent;
  }
}

.navbar-menu {
  justify-content: center;
}
.navbar-start {
  margin-right: 0;
  justify-content: flex-end;
  flex-grow: 1;
}
.navbar-end {
  margin-left: 0;
  flex-grow: 1;
}

.navbar-item, .navbar-item .button {
  font-weight: bold;
  color: $white;
}

.navbar-item .button.is-text:hover {
  background: $white;
}